/**********************
*  Navigation Colors  *
**********************/



/********************
*  Sidebar Colors  *
********************/

$sidebar_background: rgba(255,255,255,0.7);

/********************
*  Articles Colors  *
********************/

$gray_text: #666;


$slogan_color: #eee;
