/***********************************************************
Este archivo de estilos define los estilos para las regiones
de tipo barra lateral de las páginas creadas con Panels.

Se utilizará la clase "panel-sidebar" para identificar a
estas regiones.

Author: Mauro J Giamberardino en Coodesoft
Fecha creación: 08/07/2015
Utilizado en el tema: Omega-based ADUNCe Theme
***********************************************************/

.panel-news-lists {


  * div.view-content {

    * .views-field-field-fecha {
      // float: left;
      height: 4em;
      padding: 5px;
      border-radius: 5px;
      background: rgb(69, 144, 233) none repeat scroll 0% 0%;
      width: 4em;
      margin-right: 15px;

      div {
        // float: left;
        width: 100%;
        text-align: center;
        margin: 1em 0px;
        color: white;
        font-weight: bolder;
      }
    }

    * .views-field-title * a {
      text-decoration: none;
      margin-bottom: 10px;
      font-size: 1.3em;
    }


    * .views-field-view-node {
      // float: right;
      margin-top: 10px;
      * a {
        text-decoration: none;
        margin-top: 10px;
      }
    }





  }


}
